.App {
  font-family: Arial, sans-serif;
}

.exercise-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.exercise {
  background-color: #eee6b4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.exercise:hover {
  transform: translateY(-5px);
}

.camera-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fefae0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.camera-popup button {
  margin-top: 20px; /* Add margin top to create space */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #b99470;
  color: #feffea;
  cursor: pointer;
}

/* Add modal overlay styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%; /* Adjust width as needed */
}

.user-profile-container {
  background-color: #ecdcb6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

.user-profile-container h2 {
  color: #5f6f52;
}

.user-profile-container label {
  color: #5f6f52;
}

.user-profile-container input {
  width: 80%;
  padding: 8px;
  margin: 5px 0 15px 0;
  border: 0px solid #5f6f52;
  border-radius: 5px;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:nth-child(1) {
  background-color: #5f6f52;
  color: #feffea;
}

.button-container button:nth-child(2),
.user-profile-container button {
  background-color: #b99470;
  color: #feffea;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
}

.user-profile-container button {
  margin-top: 10px; /* Add margin top to create space between buttons */
}

.user-analytics-container {
  background-color: #feffe7; /* Set the same background color */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Add margin-top for separation */
}

.user-analytics-container h3 {
  color: #5f6f52;
}